<HTML>
    <head>
        <title>Innocent Site</title>
    </head>
    <body style="background-color: aliceblue;">
        <h1 id="innocentSite">INNOCENT</h1>
        <iframe src="/header"></iframe>
        <p>
            For testing Referrer Policy, here are
            <a id="evilLinkHttp" href="http://www.evil.com/home">http</a> and
            <a id="evilLinkHttps" href="https://www.evil.com/home">https</a> links to evil.com's home page.
        </p>

        <!-- In "secure" mode: BLOCK all inline scripts that are missing the cryptographic nonce -->
        <script>console.warn("innocent.com - this log comes from a BAD inline script.");</script>
        <!-- In "secure" mode: ALLOW all inline scripts that have the cryptographic nonce -->
        <script nonce="<%- security.nonce %>">console.warn("innocent.com - this log comes from a GOOD inline script.");</script>

        <!-- In "secure" mode: BLOCK all external scripts hosted on non-whitelisted domains -->
        <script src="https://www.absolutely-random-website.com/example-script.js"></script>
        <!-- In "secure" mode: ALLOW all external scripts hosted on whitelisted domains -->
        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    </body>
</HTML>