<HTML>
    <head>
        <title>Evil Site</title>
    </head>
    <body>
        <h1 id="evilSite">EVIL</h1>
        <p>Referrer obtained: <span id="referrerObtained"><%- referrer %></span></p>
    </body>
</HTML>